.skatepark-show-dashboard {
  padding: 15px;

  .content-left {
    display: inline-block;
  }

  .content-right {
    display: inline-block;
    float: right;

    .button {
      border-radius: 0;
      background-color: $blue;

      p {
        color: white;
        font-size: 15px;
        font-weight: lighter;
        letter-spacing: 2px;
      }

      i {
        font-size: 18px;
      }

      &:last-child {
        margin-left: 15px;
      }
    }

    @media #{$mobile} {
      width: 100%;
      float: none;
      margin-top: 15px;
    }
  }

  .stars {
    font-size: 20px;

    i.star {
      color: $orange;

      &.shaded {
        color: $dark-blue;
      }
    }

    p {
      font-size: 18px;
      font-weight: bold;
      color: $dark-blue;
      margin-top: 5px;

      span {
        font-size: 16px;
        font-weight: normal;
        font-style: italic;
        color: black;

        &:before {
          content: " - ";
          margin: 0 2px;
          color: $orange;
        }
      }
    }

    @media #{$mobile} {
      text-align: center;
    }
  }

  .address {
    margin: 30px 0 60px 0;
    font-size: 16px;
    height: 25px;
    line-height: 25px;

    a {
      color: black;
      vertical-align: middle;

      i {
        font-size: 25px;
        color: $dark-blue;
      }

      &:hover {
        font-weight: bold;

        i {
          color: $orange;
        }
      }

      &.selected {
        i {
          color: $orange;
        }
      }
    }

    @media #{$mobile} {
      margin: 30px 0;
      text-align: center;
      height: initial;
      line-height: initial;
    }
  }

  .links {
    display: inline-flex;
    justify-content: space-between;
    width: 350px;

    a {
      display: inline-block;
      text-align: center;
      font-family: "Dirty-Bakers-Dozen", sans-serif;
      color: $dark-blue;
      font-size: 20px;
      vertical-align: middle;
      text-transform: uppercase;
      width: 100px;

      i {
        font-size: 40px;
        vertical-align: middle;
      }

      span {
        display: block;
      }
    }

    @media #{$mobile} {
      margin: 20px 0;
      width: 80%;
      justify-content: space-around;
    }
  }
}
