#skatepark-info {
  display: none;
  width: 65%;
  margin: 0 auto;

  .skatepark-info-attribute {
    font-size: 14px;

    .attribute-column, .value-column {
      padding: 1rem;
    }

    .attribute-column {
      float: left;
      width: 150px;
    }

    .value-column {
      color: gray;
    }
  }

  @media #{$mobile} {
    width: 85%;
  }
}


