#skatepark-info {

  .info-display {

    .item.skatepark-info-attribute {
      font-size: 14px;

      .ui.grid {
        margin: 0;

        .four.wide {
          font-weight: 600;
        }

        .twelve.wide {
          color: gray;
        }
      }
    }
  }

  .photo-display {
    margin: 0 auto;
    width: 75%;

    .photo-carousel {
      height: 520px;
      // width: 620px;
      // margin: auto;
      // width: 800px;


      button {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        // vertical-align: middle;
        // margin: auto 0;
        // display: inline-block;

        &.prev {
          float: left;
        }

        &.next {
          float: right;
        }
      }

      .carousel-image-container {
        margin: 0 auto;
        height: 520px;
        width: 620px;
        display: flex;
        justify-content: center;

        .skatepark-show-image {
          margin: auto 0;
          display: none;

          img {
            max-height: 500px;
            max-width: 600px;
          }
        }
      }
    }

    .photo-thumbnails {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .skatepark-show-thumbnail {
        margin: auto 10px auto 0;
        display: inline-block;

        .selected {
          border: 2px solid $orange;
        }

        img {
          max-width: 150px;
          max-height: 150px;
        }

        &:last-child {
          margin: auto 0;
        }
      }
    }
  }



  .picture-modal img {
    display:block;
    margin:auto;
  }

  .ui img {
    cursor: pointer;
  }
}

#skatepark-reviews {
  display: none;
}


