#skatepark-info {

  .info-display {

    .item.skatepark-info-attribute {
      font-size: 14px;

      .ui.grid {
        margin: 0;

        .four.wide {
          font-weight: 600;
        }

        .twelve.wide {
          color: gray;
        }
      }
    }
  }
}

#skatepark-reviews {
  display: none;
}


