#skatepark-map {
  display: none;
  position: relative;

  #map-container {
    position: relative;

    #map {
      height: 500px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    #map-missing {
      background-image: url("https://storage.googleapis.com/west-coast-skateparks/Monkey-business.jpg");
      background-repeat: no-repeat;
      height: 300px;
      text-align: center;
      color: red;
    }
  }

  #toggle-nearby-container {
    position: absolute;
    top: 20px;
    right: 100px;

    .button {
      font-size: 15px;
      background-color: $blue;
      color: white;
      border-radius: 0;

      &:hover {
        background-color: $dark-blue;
        color: $orange;
      }
    }
  }
}