#skatepark-reviews {
  display: none;
  padding: 25px;

  .opinions-container {
    margin-right: 5%;
    text-align: right;
    width: 300px;
    float: right;

    .ui.button {
      background-color: $blue;
      border-radius: 0;
      color: white;
    }

    .rating-form-container .button {
      margin-left: 20px;
    }
  }

  .rating-reviews {
    margin: 0 0 0 5%;

    .user-rating {
      font-size: 20px;

      i.star {
        color: $orange;

        &.shaded {
          color: $dark-blue;
        }
      }
    }

    .reviews {
      display: inline-block;
      width: 500px;
    }

    h4 {
      color: $dark-blue;
      font-size: 20px;
    }
  }

  @media #{$mobile} {

    padding: 15px;
  }
}