#skatepark-reviews {
  display: none;
  padding: 25px;

  .opinions-container {
    margin-right: 5%;
    text-align: right;
    width: 300px;
    float: right;

    .ui.button {
      background-color: $blue;
      border-radius: 0;
      color: white;
    }

    .rating-form-container .button {
      margin-left: 20px;
    }
  }

  .comments.reviews {
    margin: 0 0 0 5%;
    display: inline-block;
    width: 500px;
  }

  h4 {
    font-family: "Dirty-Bakers-Dozen", sans-serif;
    color: $orange;
    font-size: 30px;
    text-transform: uppercase;
  }

  @media #{$mobile} {
    padding: 15px;
  }
}