#skatepark-reviews {
  display: none;
  padding: 25px;

  .opinions-container {
    text-align: right;
    width: 500px;
    float: right;

    .basic-button {
      background-color: $blue;
      border-radius: 0;
      color: white;
    }

    .rating-form-container .basic-button {
      margin-left: 20px;
    }
  }

  .rating-reviews {

    .user-rating {
      font-size: 20px;

      i.star {
        color: $orange;

        &.shaded {
          color: $dark-blue;
        }
      }
    }

    .reviews {
      width: 800px;
      font-size: 16px;
    }

    .button {
      border-radius: 0;
      color: white;
      background-color: $blue;
      font-size: 20px;

      &:hover {
        background-color: $dark-blue;
        color: $orange;
      }
    }
  }

  @media #{$tablet} {

    .opinions-container {
      width: 300px;
    }

    .reviews {
      width: 300px;
      font-size: 16px;
    }
  }

  @media #{$mobile} {
    padding: 15px;

    .opinions-container {
      margin: 0 auto;
      width: 300px;
      float: none;
      text-align: center;
    }

    .rating-reviews {
      margin-top: 10px;
    }
  }
}