.skatepark-show-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding-top: 49px;
  min-height: 100vh;

  @media #{$mobile} {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    background: white;
    padding: 30px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    @media #{$mobile} {
      padding-bottom: 0px;
      box-shadow: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .fav-visit-indicators {
      display: flex;
      justify-content: space-between
    }

    .user-indicators {
      display: flex;

      i:nth-child(2) {
        margin-left: 10px;
      }

      @media #{$mobile} {
        position: absolute;
        right: 30px;
      }
    }

    @media #{$mobile} {

      h1,
      h2 {
        text-align: center;
      }
    }

    h1 {
      margin-bottom: 0;
    }

    h2 {
      font-size: 1.28rem;
      margin: 0;
      font-weight: lighter;
      letter-spacing: 2px;
    }

    p.location {
      margin-top: 15px;
      font-size: 14px;

      i {
        color: $blue;
        font-size: 15px;
        margin: 0 0 0 10px;
        cursor: pointer;
      }
    }

    .review-header-container,
    .write-review-button {
      display: flex;
      align-items: center;
    }

    .review-header-container {
      justify-content: space-between;

      .write-review-button {
        cursor: pointer;

        p {
          margin-left: 5px;
        }
      }

      h4 {
        margin: 0;
      }
    }

    .actions {
      display: flex;

      a, button {
        position: relative;
        background: $blue;
        color: white;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: color 0.3s ease, background 0.3s ease;
        cursor: pointer;
        outline: 0;

        i.fa-slash {
          position: absolute;
          font-size: 15px;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: $orange;
          background-color: $dark-blue;

          .fa-map-marked-alt {
            color: $orange;
          }
        }

        &:disabled {
          background: grey;
          cursor: default;
        }
      }
    }
  }

  .info-container {
    margin-top: 24px;

    p.info {
      margin-top: 24px;
    }

    .col {
      margin-top: 8px;
      display: flex;
      align-items: center;

      i {
        margin-right: 20px;
        width: 24px;
        color: $blue;
      }

      p {
        flex: 1;
        text-transform: capitalize;
      }
    }
  }

  .comments.reviews {
    margin-top: 40px;

    i.star {
      margin-top: 0;
    }

    @media #{$mobile} {
      width: 100%;
    }
  }

  .map-photos {
    padding: 40px;

    @media #{$mobile} {
      padding: 20px 30px;
    }

    #map-container {
      margin-top: 30px;
    }

    .photos {
      margin-bottom: 30px;
    }

    .image-gallery-content {
      &:not(.fullscreen) .image-stuff {
        height: 500px;

        img {
          max-width: 100%;
          max-height: 100%;
        }

        @media #{$mobile} {
          height: 300px;
        }
      }

      .image-stuff {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $blue;
        height: 90vh;

        @media #{$mobile} and (orientation: landscape) {
          height: 80vh;
        }
      }
    }
  }

  .modal-warning {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 15px;

    @media #{$mobile} {
      padding: 30px 0;
    }

    p {
      margin: 0;
      padding: 0 30px;
      font-size: 24px;
    }

    i {
      color: orange;
      font-size: 36px;
    }
  }
}

.review-form {

  .review-stars-container {
    width: auto;
  }

  textarea {
    margin: 20px 0;
    border-radius: 3px;
  }
}