#user-actions {
  text-align: center;
  width: 350px;
  display: flex;
  justify-content: space-around;

  .inline-button {
    display: inline-block;
  }

  .ui.button {
    margin: 0;
    border-radius: 0;
    background-color: $blue;

    p {
      color: white;
      font-size: 15px;
      font-weight: lighter;
      letter-spacing: 2px;
    }

    i {
      font-size: 18px;
    }

    &:hover {
      p {
        color: $orange;
      }
    }
  }
}
