#user-actions {
  text-align: center;
  width: 330px;
  display: flex;
  justify-content: space-between;

  .ui.button {
    margin: 0;
    border-radius: 0;
    background-color: $blue;

    p {
      color: white;
      font-size: 15px;
      font-weight: lighter;
      letter-spacing: 2px;
    }

    i {
      font-size: 18px;
    }

    &:hover {
      p {
        color: $orange;
      }
    }
  }

  @media #{$mobile} {
    margin: 0 auto;
  }
}
