#user-actions {

  .button-container {
    display: inline-block;
    text-align: center;

    &.visit {
      float: left;
      min-width: 225px;
    }

    &.favorite {
      float: right;
      min-width: 165px;
    }

    .button-loading-container {
      display: none;
      height: 48px;
    }

    .ui.button {
      margin: 0;
      border-radius: 0;
      background-color: $blue;

      p {
        color: white;
        font-size: 15px;
        font-weight: lighter;
        letter-spacing: 2px;
      }

      i {
        font-size: 18px;
      }

      &:hover {
        p {
          color: $orange;
        }
      }
    }

    @media #{$tablet} {
      display: block;

      &.visit {
        float: none;
        margin-bottom: 15px;
      }

      &.favorite {
        float: none;
      }
    }
  }
}
