.ui.three.item.menu.state-menu {
  margin-top: 1%;

  a.item.state-button.active {
    color: $orange;
    background-color: $dark-blue;
  }

  a.item.state-button {
    background-color: $blue;
    color: white;

    &:hover {
      color: $orange;
      background-color: $dark-blue;
    }

    .state-label {
      font-size: 3em;
      font-family: 'Dirty-Bakers-Dozen', sans-serif;
      min-width: min-content;

      @media #{$tablet} {
        font-size: 1em;
      }
    }

    .ui.centered.image {
      margin-bottom: 5%;
    }
  }

  @media #{$mobile} {
    display: none;
  }
}


.ui.centered.grid.container {

  .sixteen.wide.column.mobile-menu {
    background-color: $blue;
    color: white;
    font-size: 1.5em;
    font-family: 'Dirty-Bakers-Dozen', sans-serif;
    margin-bottom: 1%;
    display: none;

    &:hover {
      color: $orange;
      background-color: $dark-blue;
    }

    .state-text {
      position: absolute;
      top: 31%;
    }

    .state-image {
      float: right;
    }

    @media #{$mobile} {
      display: inline-block;
    }
  }
}


.parks-container {
  margin-bottom: 3%;
  width: 100%;
  min-height: 39em;

  .show-mobile-menu {
    background-color: $blue;
    color: $orange;
    margin-bottom: 2%;
    padding: 1% 0;
    font-family: 'Dirty-Bakers-Dozen', sans-serif;
    display: none;

    div {
      display: inline-block;
    }

    .arrow-icon-left {
      float: left;
      margin-left: 1%;
    }

    .arrow-icon-right {
      float: right;
      margin-right: 1%;
    }

    &:hover {
      cursor: pointer;
    }

    @media #{$mobile} {
      display: block;
    }
  }

  .letter-links {
    background-color: white;
    padding: 0 3%;

    .link {
      color: $blue;
      padding: 1% 1%;
      display: inline-block;

      &:hover {
        cursor: pointer;
        background-color: $gray
      }

      @media #{$mobile} {
        padding: 1% 2%;
      }
    }
  }

  .ui.selection.list {
    position: relative;

    .item {
      background: white;
      display: flex;

      &:hover {
        background-color: $gray
      }

      .link-section {
        flex: 1;
        position: relative;

        p {
          color: black;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        .item-header {
          font-weight: bold;
        }

        .index-image {
          width: 200px;
          float: right;

          @media #{$mobile} {
            width: 100px;
          }
        }
      }
    }
  }

  .states-header {
    background-color: $orange;
    color: $blue;
    text-align: center;
    font-family: 'Dirty-Bakers-Dozen', sans-serif;
    font-size: 2em;
    margin-bottom: 1%;
  }
}

a#back-to-top {
  position: fixed;
  right: 0;
  padding-right: 10px;
  bottom: 50px;
  font-size: 3em;
  background-color: $orange;
  color: $blue;
  border-radius: 10px 0 0 10px;
  display: none;

  &:hover {
    padding-right: 25px;
  }
}

.no-parks-by-letter {
  text-align: center;
  font-family: 'Dirty-Bakers-Dozen', sans-serif;
  font-size: 2em;
  color: $orange;
}
