#top {
  text-align: center;

  .state-menu {
    width: 950px;
    margin: 0 auto;
    display: flex;

    .state-button {
      background-color: $blue;
      color: white;
      width: 33.333%;

      &:hover, &.active {
        color: $orange;
        background-color: $dark-blue;
      }

      .state-image {
        height: 190px;
        padding-top: 20px;

        img {
          width: 150px;
        }
      }

      .state-label {
        font-size: 3em;
        font-family: 'Dirty-Bakers-Dozen', sans-serif;
        padding-bottom: 15px;
      }

      .state-label-mobile {
        display: none;
      }
    }

    @media #{$tablet} {
      width: 700px;

      .state-label {
        font-size: 1.5em;
      }
    }

    @media #{$mobile} {
      width: 85%;
      display: inline-block;

      .state-button {
        margin: 0 auto 10px auto;
        width: 90%;
        padding: 5px 10px;
        display: flex;
        align-items: center;

        .state-image {
          height: 85px;
          padding: 0;

          img {
            width: 80px;
          }
        }

        .state-label {
          display: none;
        }

        .state-label-mobile {
          display: inherit;
          margin-left: 10%;
          font-size: 1em;
          font-family: 'Dirty-Bakers-Dozen', sans-serif;
        }
      }
    }
  }

  .loading-container {
    display: none;
    margin-top: 25px;
  }
}

.parks-container {
  padding: 0 25px;
  margin: 25px 0;
  text-align: center;

  @media #{$mobile} {
    margin: 0;
  }
}


a#back-to-top {
  position: fixed;
  right: 0;
  padding-right: 10px;
  bottom: 50px;
  font-size: 3em;
  background-color: $orange;
  color: $blue;
  border-radius: 10px 0 0 10px;
  display: none;

  &:hover {
    padding-right: 25px;
  }
}

.no-parks-by-letter {
  text-align: center;
  font-family: 'Dirty-Bakers-Dozen', sans-serif;
  font-size: 2em;
  color: $orange;
}
