.image-rotator {
  background-image: url("https://storage.googleapis.com/west-coast-skateparks/headers/lance-mountain.jpg" );
  background-size: 100% auto;
  background-position: 0 -60px;
  background-repeat: no-repeat;
  height: 60%;
  margin-bottom: 2%;

  @media #{$tablet} {
    background-position: center;
  }
}

.skateparks-index-container {
  height: 83%;

  @media #{$tablet} {
    height: 90%;
  }

  @media #{$mobile} {
    height: 90%;
  }

  .parks-container {
    height: 39em;
    overflow-y: auto;
    overflow-x: hidden;

    a {
      color: black;
    }

    @media #{$tablet} {
      height: 55em;
    }

    @media #{$mobile} {
      height: 30em;
    }
  }
}



