.skatepark-show-container {
  margin-top: 49px;

  .skatepark-show-header {
    position: relative;
    background-size: 100% auto;
    background-position: 0 -25px;
    height: 200px;

    .header-skatepark-name {
      position: relative;
      top: 45px;
      text-align: center;
      color: $orange;

      h1 {
        margin-bottom: 5px;
      }

      h3 {
        margin: 0;
        font-weight: lighter;
        color: white;
        letter-spacing: 2px;
      }
    }

    .header-skatepark-arrows {
      font-size: 40px;

      a {
        position: absolute;
        bottom: 10px;
        color: white;

        &:last-child {
          right: 0;
        }

        &:hover {
          color: $orange;
        }
      }
    }
  }
}
