.fly-in-left {
  -webkit-animation-name: fly-in-left;
            animation-name: fly-in-left;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}


@-webkit-keyframes fly-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(1500px, 0, 0);
            transform: translate3d(1500px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fly-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(1500px, 0, 0);
            transform: translate3d(1500px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
