<%= button_to add_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui button add-favorite-button' do %>
  <i class="red heart icon inline-block"></i> <p class="inline-block">Favorite</p>
<% end %>