<%= form_tag favorites_path, remote: true do %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :skatepark_id, @skatepark.id %>
  <%= button_tag class: 'ui button' do %>
    <i class="red heart icon inline-block"></i> <p class="inline-block">Favorite</p>
  <% end %>
<% end %>