<div class="rate-button-container one-bottom">
  <%= button_tag 'Rate Skatepark', class: 'ui primary button rate-button'%>
  <div class="rate-form-container hidden one-top">
    <div class="ui form">
      <%= form_tag rate_path(current_user.id, @skatepark_id), method: :put do |f| %>
        <div class="field">
          <%= text_field_tag :rating, nil, placeholder: 'enter rating' %>
        </div>
        <%= submit_tag 'Rate', class: 'ui button' %>
      <% end %>
    </div>
  </div>
</div>



