= react_component "UsersShow", props: {\
    user: @user,
    skateparks: @skateparks,
    numRatings: @num_ratings,
    mapKey: ENV.fetch('GOOGLE_KEY'),
  }


- if flash[:signed_up]
  = content_for :analytics_event
    javascript:
      analytics.track("Signed Up", #{raw new_user_json(@user)});
