<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% field.options[:members].each do |member| %>
    <%= f.check_box field.attribute, { multiple: true }, member, false %>
    <%= f.label member %>
  <% end %>
</div>
