.debug {
  border: 1px solid red;
}

.center-text {
  text-align: center;
}

.one-top {
  margin-top: 1%;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}


.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}
.orange {
  color: $orange;
}

.bold {
  font-weight: bold;
}