.search-results-container {
  height: 25em;
  overflow-y: auto;
  overflow-x: hidden;

  a {
    color: black;
  }
}

#search-input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
}

.search-column {
  width: 25%;
  margin-left: 8%;
  display: inline-block;
}

.ui.header.search-header {
  display: inline-block;
  width: 24.8%;
  margin-left: 7.9%;
}

#search-results-skatepark-header {
  margin-left: 8.5%;
  width: 24.7%;
}

#search-modal {
  height: 73%;
  padding-top: 2%;
  border-radius: 0;
}

@media #{tablet} {
  .search-results-container {
    height: 40em;
  }
}

@media #{mobile} {
  .search-results-container {
    height: 15em;
  }
  .search-col-two, .search-col-three, .ui.header.search-header {
    width: 20%;
    margin-left: 8%;
    display: inline-block;
  }
  .search-col-one, #seach-results-skatepark-header {
    width: 25%;
  }
}


