#explore {
  margin-top: 49px;

  .map-container {
    height: 500px;
    width: 100%;
    position: relative;
  }

  .info-window {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 400px;
    width: 250px;
    background: white;
    padding: 10px;
    text-align: center;

    p.park-name {
      font-weight: bold;
    }

    p {
      text-transform: capitalize;
      margin-bottom: 5px;
    }

    img {
      margin-top: 16px;
      width: 100%;
    }
  }
}