body {
  font-family: 'Lato', sans-serif;
}

#footer {
  height: 5%;
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  border-radius: 0;
  margin: 0;
}

.page-container {
  margin: 0 5% 1% 5%;
  min-height: 80%;
}

.ui.menu {
  border-radius: 0;
  margin: 0;
  background-color: #285077;
  font-family: 'Lato', sans-serif;

  a.item {
    color: white;

    &:hover {
      color: $orange;
      background-color: #19364D;
    }
  }
}

.ui.segment {
  border-radius: 0;
}