.session-container {
  height: 100%;
  width: 100%;

  &.sign-in {
    background: url("https://storage.googleapis.com/west-coast-skateparks/headers/burndog-bw.jpg") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  &.sign-up {
    background: url("https://storage.googleapis.com/west-coast-skateparks/headers/marginal-bw.jpg") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .session-form-container {
    padding: 30px;
    width: 500px;
    margin: 30px auto;
    text-align: center;
    position: relative;
    top: 105px;
    background-color: $gray;
    border-radius: 5px;

    .sign-in-button {
      background-color: $blue;
      color: orange;
      font-size: 20px;
    }

    .social-login {
      margin: 0 auto;
      font-size: 20px;
      display: flex;

      .fab {
        margin-right: 20px;
      }
    }

    @media #{$mobile} {
      width: 280px;
      padding: 10px;
      top: 75px;

      .sign-in-button {
        font-size: 15px;
      }

      .social-login {
        font-size: 14px;

        .fab {
          padding-top: 10px;
        }
      }
    }
  }

  .sign-up-link {
    margin-top: 15px;

    a {
      color: $blue;
      font-weight: bold;
      font-size: 18px;

      @media #{$mobile} {
        font-size: 15px;
      }
    }
  }
}
