.session-container {
  height: 100%;

  &.sign-in {
    background: url("https://storage.googleapis.com/west-coast-skateparks/headers/burndog-bw.jpg") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  &.sign-up {
    background: url("https://storage.googleapis.com/west-coast-skateparks/headers/marginal-bw.jpg") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .session-form-container {
    padding: 30px;
    width: 500px;
    margin: 30px auto;
    text-align: center;
    position: relative;
    top: 105px;
    background-color: $gray;
    border-radius: 5px;

    .sign-in-button {
      border-radius: 0;
      background-color: $blue;
      color: orange;
      font-size: 20px;
    }

    .social-login {
      border-radius: 0;
      width: 350px;
      margin: 8px 0;
      text-align: left;
      font-size: 20px;

      span {
        padding-left: 15px;
      }

      @media #{$mobile} {
        font-size: 16px;
        width: 300px;

        span {
          padding-left: 12px;
        }
      }
    }

    @media #{$mobile} {
      width: 95%;
    }
  }

  .sign-up-link {
    margin-top: 15px;

    a {
      color: $blue;
      font-weight: bold;
      font-size: 18px;
    }
  }
}
