.user-show-container {
  padding: 0 30px;

  .user-dashboard .ui.card {
    border-radius: 0;

    img {
      border-radius: 0;
    }
  }

  .user-stat p.inline-block {
    margin-left: 10px;
  }
}

#relative {
  position: relative;
}

#map {
  height: 300px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.profile-container {
  height: 50em;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0;

  .selection.list > .item {
    color: black;
  }
}
