.landing-container {
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("https://storage.googleapis.com/west-coast-skateparks/headers/hewitt-desktop.jpg" );
  width: 100%;
  height: 95%;
  background-repeat: no-repeat;
  background-size: 100%;

  .landing-header {
    text-align: center;
    position: absolute;
    top: 7%;
    left: 0;
    right: 0;
    font-size: 5em;
    font-family: 'Dirty-Bakers-Dozen', sans-serif;
    color: $orange;

    @media #{$tablet} {
      font-size: 4em;
    }

    @media #{$mobile} {
      top: 20%;
      font-size: 1.8em;
    }
  }

  .landing-content {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 5%;
    right: 5%;
    font-family: 'Dirty-Bakers-Dozen', sans-serif;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1;

    @media #{$tablet} {
      font-size: 1.8em;
    }

    @media #{$mobile} {
      font-size: 1em;
    }
  }

  @media #{$tablet} {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("https://storage.googleapis.com/west-coast-skateparks/headers/hewitt-ipad.jpg" );
    background-position: center;
    height: 98%;
  }

  @media #{$mobile} {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("https://storage.googleapis.com/west-coast-skateparks/headers/hewitt-iphone.jpg" );
    height: 96%;
  }
}






