<div class="page-container">
  <div class="ui relaxed celled list">
  <div class="ui item">
    <i class="large yellow star icon inline-block"></i>
    <p class="one-top"><strong>Garbage</strong>. A skatepark gets a 1 just for existing. Barely skateable, a 1 is a sad excuse for a skatepark.</p>
  </div>
  <div class="ui item">
    <% 2.times do %>
      <i class="large yellow star icon inline-block"></i>
    <% end %>
    <p class="one-top"><strong>Less than ideal</strong>.  There is fun to be had at a 2, but don’t go too far out of your way. 2s will likely be awkward, might be ridden with design flaws, or just be a few prefabricated obstacles in a parking lot. Though it was probably created by people who don’t skateboard, you can still have a blast skating a 2.</p>
  </div>
  <div class="ui item">
    <% 3.times do %>
      <i class="large yellow star icon inline-block"></i>
    <% end %>
    <p class="one-top"><strong>Fun</strong>. 3 encompasses a wide range of skateparks, most of them really fun to skate. They typically have smooth concrete, some decent lines, and a layout that doesn’t suck. However, many of these skateparks still suffer from design flaws, lack of flow, or obstacles that are awkward or unusable. A 3 is definitely worth skating.</p>
  </div>
  <div class="ui item">
    <% 4.times do %>
      <i class="large yellow star icon inline-block"></i>
    <% end %>
    <p class="one-top"><strong>Epic</strong>. 4s are world class. Well-poured concrete, a variety of terrain, and an abundance of flow characterize a 4. The mere thought of sessioning a 4 would have any skate rat drooling.</p>
  </div>
  <div class="ui item">
    <% 5.times do %>
      <i class="large yellow star icon inline-block"></i>
    <% end %>
    <p class="one-top"><strong>Holy Grail</strong>. The sickest of the sick, the gnarliest of the gnar. 5s are the very best. A thing of unspeakable beauty, a 5 holds enough shredable terrain to last a lifetime.  </p>
  </div>
  </div>
</div>