<div class='landing-container'>
  <div class="landing-content">
    <div class="landing-text center-text" >
      <h1>Welcome to West Coast Skateparks, your source for the most up to date information on the skateparks of the western United States </h1>
    </div>
  </div>
</div>
<div class="ui grid">
  <div class="five wide column center-text">

    <div class="icon-container">
      <i class="massive info icon"></i>
    </div>
    <h1>Get vital information</h1>
  </div>
  <div class="five wide column center-text">
    <div class="icon-container">
      <i class="massive checkmark icon"></i>
    </div>
    <h1>Keep track of the skateparks you visit</h1>
  </div>
  <div class="five wide column center-text">
    <div class="icon-container">
      <i class="massive thumbs up outline icon"></i>
    </div>
    <h1>Leave ratings and reviews</h1>
  </div>
</div>

