.user-edit-container {
  padding: 0 30px 30px 30px;

  .edit-form-container {
    width: 80%;
    float: right;

    .ui.form {
      width: 80%;
      margin: 0 auto;

      input {
        margin-top: 10px;
      }

      .button {
        background-color: $blue;
        color: white;
        border-radius: 0;
        width: 100%;
      }
    }
  }
}
