.user-edit-container {
  h1 {
    text-align: center;
    color: $blue;
  }

  .form {
    width: 75%;
    margin: 0 auto;

    input {
      margin-top: 10px;
    }

    .button {
      background-color: $blue;
      color: white;
      border-radius: 0;
      width: 100%;
    }
  }
}
