<div class="about-page">
  <div class="skatepark-info">
    <div class="raised segment category">
      <h2>Skatepark Information</h2>
    </div>
    <div class="raised segment">
      <div class="header">Disclaimer</div>
      <p>We strive to maintain the most comprehensive and up-to-date information that we can. If you come across any information that is incorrect or missing, please contact us at <a href="mailto:westcoastskateparks.com">westcoastskateparks@gmail.com</a>.</p>
    </div>
    <div class="raised segment">
      <div class="header">Addresses</div>
      <p>Often nestled in parks and community centers, very few skateparks have their own addresses. That being said, we have done our best to list addresses to get you as close to the skatepark as possible. If you arrive at the address listed and do not see the skatepark, fear not. Chances are it is further down the block, tucked away in the park nearby, or behind a fence or community building. Use good judgement and you will find it. If you come across an address that is incorrect, please contact us at <a href="mailto:westcoastskateparks.com">westcoastskateparks@gmail.com</a>.</p>
    </div>
    <div class="raised segment">
      <div class="header">Hours and Costs</div>
      <p>Operating hours of skateparks vary. Most skateparks are open from dawn to dusk and are free to the public. If a skatepark is equipped with lights and is open after dark, this information will be listed. Sometimes, though, cities impose odd hours, designate specific session times, charge a fee to skate, or have pad nannies on site. Private skateparks do the same. When possible, we list hours of operation or warn of odd hours and fees in the skatepark ‘info’ section. If a skatepark regulates session times and charges fees, we do not detail this information because it is subject to change. We encourage you to check with the city or skatepark owners before you go. If you come across hours that are incorrect, please contact us at <a href="mailto:westcoastskateparks.com">westcoastskateparks@gmail.com</a>.</p>
    </div>
    <div class="raised segment">
      <div class="header">Rules, Regulations, and Enforcement</div>
      <p>Skateboarding is inherently dangerous. For that reason, many skateparks post rules that require participants to wear helmets and/or other safety equipment. Enforcement of these rules varies. At some skateparks, police have been known to patrol the park and ticket riders that are not wearing helmets. This is much more common in California than it is in Oregon and Washington. If you are unsure about the rules at a skatepark and the degree to which they are enforced, bring pads and a helmet just in case.  Skate at your own risk.</p>
    </div>
  </div>
  <div class="rating-system">
    <div class="raised segment category">
      <h2>The Rating System</h2>
    </div>
    <div class="raised segment">
      <i class="fa fa-star fa-2x"></i>
      <p><strong>Garbage</strong>. A skatepark gets a 1 just for existing. A 1 is a sad excuse for a skatepark.</p>
    </div>
    <div class="segment">
      <% 2.times do %>
        <i class="fa fa-star fa-2x"></i>
      <% end %>
      <p><strong>Less than ideal</strong>.  There is fun to be had at a 2, but don’t go too far out of your way. 2s will likely be awkward, might be ridden with design flaws, or just be a few prefabricated obstacles in a parking lot. 2s go to show why people who don't skateboard should not design and build skateparks.</p>
    </div>
    <div class="segment">
      <% 3.times do %>
        <i class="fa fa-star fa-2x"></i>
      <% end %>
      <p><strong>Fun</strong>. 3 encompasses a wide range of skateparks, most of them really fun to skate. They typically have smooth concrete, some decent lines, and a layout that doesn’t suck. However, many of these skateparks still suffer from design flaws, lack of flow, or obstacles that are awkward or unusable. A 3 is definitely worth skating.</p>
    </div>
    <div class="segment">
      <% 4.times do %>
        <i class="fa fa-star fa-2x"></i>
      <% end %>
      <p><strong>Epic</strong>. 4s are world class. Well-poured concrete, a variety of terrain, and an abundance of flow characterize a 4. The mere thought of sessioning a 4 would have any skate rat drooling.</p>
    </div>
    <div class="segment">
      <% 5.times do %>
        <i class="fa fa-star fa-2x"></i>
      <% end %>
      <p><strong>Holy Grail</strong>. The sickest of the sick, the gnarliest of the gnar. 5s are the very best. A thing of unspeakable beauty, a 5 holds enough shredable terrain to last a lifetime.  </p>
    </div>
  </div>
</div>