.enter {
  opacity: 0;
  width: 0;
}

.enterActive {
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transition: opacity 1s ease, width 1s ease;
  width: 300px;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 1s ease, width 1s ease;
}