// * {
//   border: 1px solid red;
// }

.basic-button {
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  margin: 0em 0.25em 0em 0em;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  color: rgba(0, 0, 0, 0.6);

  &:hover {
    background-color: #cacbcd;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, .3);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, .3);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, .3);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, .3);
}

.error.message {
  background-color: #fff6f6;
  color: #9f3a38;
}

