.dropdown {
  position: relative;
  text-align: left;
}

.selection.dropdown {
    cursor: pointer;
    word-wrap: break-word;
    line-height: 1em;
    white-space: normal;
    outline: 0;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    min-width: 14em;
    min-height: 2.7142em;
    background: #ffffff;
    display: inline-block;
    padding: 0.78571429em 2.1em 0.78571429em 1em;
    color: rgba(0,0,0,0.87);
    box-shadow: none;
    border: 1px solid rgba(34,36,38,0.15);
    border-radius: 0.28571429rem;
    -webkit-transition: box-shadow 0.1s ease,width 0.1s ease;
    transition: box-shadow 0.1s ease,width 0.1s ease;

    &:hover {
        border: 1px solid rgba(34,36,38,0.4);
    }
}

.dropdown .menu {
    cursor: auto;
    position: absolute;
    display: none;
    outline: none;
    left: 0;
    top: 100%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    margin: 0em;
    padding: 0em 0em;
    background: #ffffff;
    font-size: 1em;
    text-shadow: none;
    text-align: left;
    box-shadow: 0px 2px 3px 0px rgba(34,36,38,0.15);
    border: 1px solid #96c8da;;
    border-radius: 0.28571429rem;
    border-top-width: 0px;
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
    z-index: 199999;
    will-change: transform,opacity;
}

.selection.dropdown .menu {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    width: auto;
    outline: none;
    margin: 0px -1px;
    min-width: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: 0em 0em 0.28571429rem 0.28571429rem;
    max-height: 16.02857143rem;
}

.selection.dropdown .menu > .item {
    border-top: 1px solid #fafafa;
    padding: 0.78571429rem 1.14285714rem;
    white-space: normal;
    word-wrap: normal;
    position: relative;
    cursor: pointer;
    display: block;
    height: auto;
    text-align: left;
    line-height: 1em;
    color: rgba(0,0,0,0.87);
    font-size: 1rem;
    text-transform: none;
    font-weight: normal;
    box-shadow: none;

    &:hover {
        background-color: rgba(0,0,0,0.05);
    }
}


.selection.dropdown > .dropdown.icon {
    cursor: pointer;
    position: absolute;
    width: auto;
    height: auto;
    line-height: 1.2142em;
    top: 0.78571429em;
    right: 1em;
    z-index: 3;
    margin: -0.78571429em;
    padding: 0.78571429em;
    opacity: 0.8;
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
}

.dropdown:not(.button)>.default.text {
    color: rgba(191,191,191,0.87);
}

.active.selection.dropdown {
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    border-color: #96c8da;
    box-shadow: 0px 2px 3px 0px rgba(34,36,38,0.15);
}

.active.upward.selection.dropdown {
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
}

.upward.dropdown > .menu {
    top: auto;
    bottom: 100%;
    border-bottom-width: 0px;
    border-top-width: 1px;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}

.upward.selection.dropdown .menu {
    box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.08);
}