

.list {
  list-style-type: none;
  margin: 1em 0em;
  padding: 0em 0em;

  .item {
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: 0.21428571em 0em;
    line-height: 1.14285714em;
  }
}

.list:last-child {
    margin-bottom: 0em;
    padding-bottom: 0em;
}

.list:first-child {
    margin-top: 0em;
    padding-top: 0em;
}

.item:first-child {
    padding-top: 0em;
}