.about-page {
  display: flex;
  justify-content: space-around;
  padding: 0 25px;

  .skatepark-info {
    margin-right: 10px;
    flex: 1;
  }

  .rating-system {
    flex: 1;
    margin-left: 10px;
  }

  @media #{$mobile} {
    display: block;

    .skatepark-info {
      margin: 0;
    }

    .rating-system {
      margin: 20px 0;
    }
  }
}
