.landing-container {
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("https://storage.googleapis.com/west-coast-skateparks/headers/hewitt-desktop.jpg" );
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 49px;
  background-size: cover;

  .landing-header {
    text-align: center;
    position: fixed;
    top: 80px;
    width: 100%;
    font-size: 5em;

    p {
      font-family: 'Dirty-Bakers-Dozen', sans-serif;
      color: $orange;
      text-align: center;
    }

    @media #{$tablet} {
      font-size: 4em;
    }

    @media #{$mobile} {
      font-size: 2.6em;
      padding-top: 100px;
    }
  }

  .landing-copy {
    top: 430px;
    position: fixed;
    width: 100%;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1;

    p {
      text-align: center;
      padding: 0 15px;
    }

    @media #{$tablet} {
      font-size: 1.8em;
    }

    @media #{$mobile} {
      font-size: 1.5em;
      top: 354px;
    }
  }

  .landing-button {
    position: fixed;
    top: 530px;
    width: 100%;

    .call-to-action {
      text-align: center;

      a {
        border: 4px solid $orange;
        min-width: 284px;
        font-family: 'Dirty-Bakers-Dozen', sans-serif;
        font-size: 2em;
        color: $orange;
        padding: 10px;
      }
    }

    @media #{$mobile} {
      top: 447px;
    }
  }

  @media #{$mobile} {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("https://storage.googleapis.com/west-coast-skateparks/headers/hewitt-skinny.jpg");
    background-position: center bottom;
  }
}






