.advanced-search-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .results-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;

    img {
      width: 100px;
    }
  }

  .query-form {
    margin-bottom: 48px;
    position: relative;
    width: 300px;

    i {
      color: $blue;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .filter-form {
    display: flex;
    flex-direction: column;
    padding-right: 16px;

    .field {

      p,
      label {
        font-size: 16px;
      }

      p {
        font-weight: bold;
        margin-bottom: 8px;
      }

      label {
        margin-right: 12px
      }

      .star-input {
        margin-bottom: 8px;

        label,
        i {
          margin: 0;
        }
      }
    }
  }

  .header-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  .column-layout {
    display: grid;
    grid-template-columns: 120px 2fr 1fr 1fr 1fr 1fr;
    text-transform: capitalize;
    align-items: center;
  }

  a.column-layout {
    padding: 16px 0;
    border-top: 1px solid #c4cacf;
    color: $black;

    >div {
      align-self: center;
    }

    &:hover {
      background: $dark-gray
    }

    &:last-child {
      border-bottom: 1px solid #c4cacf;
    }
  }

  .table-header {
    >button, p {
      font-size: 16px;
      padding: 8px 0;
    }

    > button{
      border: none;
      background: transparent;
      font-size: 16px;
      transition: color 0.3s ease;
      text-align: left;

      &:hover {
        cursor: pointer;
        color: $orange;
      }

      &:first-child {
        grid-column-start: 2;
      }

      i {
        transition: transform 0.3s ease;
        margin-left: 8px;
        font-size: 12px;

        &.asc {
          transform: rotate(180deg);
        }
      }
    }
  }

  @media #{$tablet} {
    padding: 20px 64px;

    .results-container {
      grid-template-columns: 1fr;
    }

    .results-filters {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;

      .header-text {
        margin: 0;
      }
    }

    .column-layout.table-header {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 16px;

      > button:first-child {
          grid-column-start: 1;
        }
    }

    a.column-layout {
      grid-template-columns: 120px 1fr;
    }

    .table-header {
      >button {
        border: 1px solid $dark-gray;
        margin-right: 20px;
        text-align: center;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media #{$mobile} {
    padding: 20px 14px;
  }
}