.advanced-search-container {
  padding: 40px;

  form {
    select {
      width: 50px;
      padding: 5px 8px;
    }

    .row {
      display: flex;

      .column {
        display: flex;
        flex-direction: column;

        &.states .row {
          flex: 1;

          label {
            margin-right: 12px;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }

        label {
          display: flex;
          align-items: center;
        }

        input {
          margin: 0 6px 0 0;
        }
      }

      .field {
        margin-right: 20px;

        .column {
          margin-right: 8px;
        }
      }
    }
  }


  .table {
    margin-top: 56px;
  }

  .table .row {
    display: flex;
    color: #737c97;
    padding: 16px 20px;
    align-items: center;

    &:not(.table-header) {
      border-top: 1px solid #e9ebf2;

      &:last-child {
        border-bottom: 1px solid #e9ebf2;
      }
    }

    &.active {
      background: rgba(221, 242, 255, 0.2);
    }
  }

  .sourcing-container.index .table-header {
    font-size: 12px;
  }

  .table-header .column {
    outline: none;

    &:hover {
      cursor: pointer;
    }

    &.dark-text {
      font-weight: bold;
    }
  }

  .table-header .sort-arrow.asc {
    transform: rotate(180deg);
  }

  .table-header img {
    margin-left: 8px;
  }

  .table .column {
    flex: 1;
    display: flex;

    &.dark-text {
      color: #131e40;
    }
  }

  .sourcing-container.index .column.applicants img {
    margin-right: 4px;
  }
}