#react-search-bar {
  position: fixed;
  top: 0;
  right: 15px;
  z-index: 9999;
  text-align: right;

  .ui.search {
    margin-top: 10px;

    input {
      width: 300px;
      border-radius: 3px;
      height: 30px;
      background-color: $blue;
      color: white;
      border: 1px solid $orange;

      @media #{$mobile} {
        width: 200px;
      }
    }

    i {
      color: white;
    }
  }

  #react-search-results {
    margin-top: 9px;
    background-color: white;
    text-align: left;
    width: 500px;
    max-height: 750px;
    overflow-y: auto;

    .item > a {
      color: black;
    }

    @media #{$mobile} {
      max-height: 500px;
      width: 300px;
    }
  }
}
