.search-page-container {
  height: 100%;
  background: url("https://storage.googleapis.com/west-coast-skateparks/headers/newberg-bw.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .search-form-container {
    padding: 30px;
    width: 95%;
    margin: 30px auto;
    position: relative;
    top: 55px;
    background-color: $gray;
    border-radius: 5px;
  }

  .search-header {
    text-align: center;
    margin: 2% 0;
    font-weight: bold;
    color: $blue;
    font-size: 30px;
  }

  .ui.selection.list {
    position: relative;

    .item {
      background: white;

      &:hover {
        background-color: $gray
      }

      p {
        color: black;
      }

      .item-header {
        font-weight: bold;
      }
    }
  }
}
