/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require semantic_ui/semantic_ui
 *= require_tree .
 *= require_self
 */
* {
  font-family: 'Helvetica', sans-serif;
}

html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0;}

.debug {
  border: 1px solid red;
}


/*-----------Layout----------*/


html, body {
  height: 100%;
}

.nav-container {
  width: 100%;
}

.title-words {
  padding-bottom: 1%;
  font-size: 4.2em;
  font-weight: bold;
  color: #FF7519;
}

.heading-container {
  margin-left: 12%;
  padding-top: 1%;
  padding-bottom: 1%;
}

/*.search-container {
  padding-top: 15%;
}*/

.search-form-container {
 float: right;
 margin-top: 2.5%;
 margin-right: 2%;
 background-color: white;
}

.page-container {
  margin: 0% 5%;
  min-height: 80%;
}

.parks-container, .profile-container, .scroll-box {
  height: 50em;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0;
}

.footer {
  background-color: black;
  color: white;
 /* padding-top: 1%;
  padding-bottom: 1%;*/
}


/*---------Atomic-----------*/

.center-text {
  text-align: center;
}

.one-margin {
  margin-top: 1%;
}

.one-top {
  padding-top: 1%;
}

.one-bottom {
  padding-bottom: 1%;
}

.relative {
  position: relative;
}

.blue {
  color: #5CB8E6;
}

.hidden {
  display: none;
}

.right-align {
  text-align: right;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.reduced-margin {
  margin: 0px;
}

/*-------Welcome Page----------*/

.landing-container {
  position: relative;
  background-image: url("https://storage.googleapis.com/west-coast-skateparks/newberg_cover.jpg" );
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 -220px;
  padding: 12% 7%;
}

.landing-content {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding-top: 5%;
  padding-bottom: 5%;
}

.landing-information-container {
  padding-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 8%;
}

.icon-container {
  padding-bottom: 10%;
}


/*-------Index Page----------*/

.parks-container a {
  color: black;
}

.create-container {
  display: none;
  margin-top: 10px;
}

/*-------About Page----------*/



/*-------Profile Page----------*/

.profile-container a {
  color: black;
}

/*--------Search Page-------*/

.search-results-container {
  margin-top: 2%;
}

.search-results-container a {
  color: black;
}


/*--------Show Page-------*/


#map {
  height: 300px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.picture-modal img {
  display:block;
  margin:auto;
}

.ui img {
  cursor: pointer;
}

.fav-container, .visit-container {
  padding-top: 1%;
  padding-bottom: 2%;
}

.sign-form {
  padding-bottom: 45%;
}

.written-review-container {
  padding-top: 3%;
}

.next-button {
  text-align: right;
}


#state-map {
  height: 300px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}




