/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 //= require material_icons
 *= require_tree .
 *= require_self
 */


.debug {
  border: 1px solid red;
}

.sign-out {
  background-color: #1976d2;
  border: none;
}

.create-container {
  display: none;
}

.rate-container {
  display: none;
}

.review-container {
  display: none;
}

.hidden {
  display: none;
}

.map-container {
  position: relative;
  float: right;
}


#map {
  height: 400px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
/*.create-skatepark {
  border: 2px solid #1976d2;
}*/





/*.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.container h1 {
  font-size: 17pt;

}

nav li {
  display: inline-block;
  color: blue;
  text-decoration: none;
}



nav li a:hover {
  text-decoration: underline;
}

#top_bar {
  height: 40px;
  font-weight: bold;
}

#menu_bar {
  text-align: center;
}

#top_bar li a {
  height: 40px;
  font-weight: bold;
  display: inline-block;
  color: blue;
  text-decoration: none;
  margin-left: 2em;
}

#sign_out {
  margin-left: 80%;
}


#menu_bar li a {
  height: 40px;
  font-weight: bold;
  display: inline-block;
  color: blue;
  margin-left: 6em;
  margin-right: 6em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

#sign-out input {
  border:none;
  background:none;
  font-weight: :bold;
}

.create-container{
  display: none;
}

.edit-container {
  display: none;
}

a {
  cursor: pointer;
}


#map {margin-left: auto; margin-right: auto; }*/

