/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require semantic_ui/semantic_ui
 *= require_tree .
 *= require_self
 */
* {
  font-family: 'Helvetica', sans-serif;
}

html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0;}

body {
  background-color: #CCCCCC;
}

.debug {
  border: 1px solid red;
}

/*-----------Layout----------*/

.title-container {
  position: relative;
  background-image: url("https://gonesk8ing.files.wordpress.com/2013/09/1388.jpg" );
  height: 40%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 -180px;

}

.nav-container {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
}

.title-words {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 4em;
  font-weight: bold;
  color: red;
}

.search-container {
   margin-left: 80%;
}

.page-container {
  margin: 2% 10%;
  background-color: #E6E6E6;
}

.parks-container, .profile-container  {
  background-color: #E6E6E6;
  height: 50em;
  overflow: auto;
}




/*---------Atomic-----------*/

.center-text {
  text-align: center;
}

.top-gap {
  margin-top: 1%;
}

.red {
  color: red;
}

.hidden {
  display: none;
}

.right-align {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.float-right {
  float: right;
}


/*-------Index Page----------*/



.parks-container a {
  color: black;
  font-size: 1.5em;

}


.create-container {
  display: none;
  margin-top: 10px;
}

/*-------Profile Page----------*/


.profile-container a {
  color: black;
  font-size: 1.5em;
  padding: 0 0 0 0;
}

/*--------Show Page-------*/



.map-container {
  position: relative;
}

#map {
  height: 400px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}




