
#session-modal {
  max-width: 45%;
  height: 200px;
  margin-left: -20%;
  padding-bottom: 0;
  top: 270px;

  .grid {
    position: relative;
  }
  .content {
    padding-top: 0;
    padding-bottom: 5%;
    // position: relative;
  }
  .column {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: .8%;
  }

  .pointer {
    cursor: pointer;
  }

  form {
    padding-bottom: 0;
    margin: 1% 7%;
  }

}

