/*-------Index Page----------*/

.parks-container a {
  color: black;
}

.create-container {
  display: none;
  margin-top: 10px;
}

.image-rotator {
  background-image: url("https://storage.googleapis.com/west-coast-skateparks/headers/lance-mountain.jpg" );
  background-size: 100% auto;
  background-position: 0 -30px;
  padding: 20% 7%;
}
