/*--------Show Page-------*/

#map {
  height: 300px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.picture-modal img {
  display:block;
  margin:auto;
}

.ui img {
  cursor: pointer;
}

.fav-container, .visit-container {
  padding-top: 1%;
  padding-bottom: 2%;
}

.sign-up-form, .sign-in-form {
  padding-bottom: 45%;
}

.written-review-container {
  padding-top: 3%;
}

.next-button {
  text-align: right;
}

#state-map {
  height: 300px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.map-missing {
  background-image: url("https://storage.googleapis.com/west-coast-skateparks/Monkey-business.jpg");
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  color: red;
}