/*-------Index Page----------*/

.parks-container a {
  color: black;
}

.image-rotator {
  background-image: url("https://storage.googleapis.com/west-coast-skateparks/headers/lance-mountain.jpg" );
  background-size: 100% auto;
  background-position: 0 -30px;
  background-repeat: no-repeat;
  /*padding: 20% 0;*/
  height: 60%;
}
