/*-------Index Page----------*/

.parks-container a {
  color: black;
}

.image-rotator {
  background-image: url("https://storage.googleapis.com/west-coast-skateparks/headers/lance-mountain.jpg" );
  background-size: 100% auto;
  background-position: 0 -60px;
  background-repeat: no-repeat;
  height: 60%;
  margin-bottom: 2%;
}

.parks-container {
  height: 39em;
  overflow-y: auto;
  overflow-x: hidden;
}

.skateparks-index-container {
  height: 87%;
}

@media (min-width: 736px) and (max-width: 1025px) {
  .image-rotator {
    background-position: center;
  }
  .parks-container {
    height: 55em;
  }
  .skateparks-index-container {
    height: 90%;
  }
}

@media (min-width: 300px) and (max-width: 735px) {
  .image-rotator {
    background-position: center;
  }
  .parks-container {
    height: 25em;
  }
  .skateparks-index-container {
    height: 86%;
  }
}


