/*-------Profile Page----------*/

.user-map {
  height: 300px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.profile-container {
  height: 50em;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0;
}

.profile-container a {
  color: black;
}