/*-------Welcome Page----------*/

.landing-container {
  position: relative;
  background-image: url("https://storage.googleapis.com/west-coast-skateparks/newberg_cover_skinny.jpg" );
  background-repeat: no-repeat;
  height: 80%;
  background-size: 100%;
  background-position: 0 -740px;
  margin-top: 2%;
}

.landing-content {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 30%;
  margin: 0 7%;
  color: black;
  padding: 4% 0;
}

@media (min-width: 320px) and (max-width: 1000px) {
  .landing-container {
    background-position: center;
  }
}

