<%= button_to remove_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui button remove-favorite-button' do %>
  <i class="empty heart icon inline-block"></i>
  <p class="inline-block">Unfavorite</p>
<% end %>
