<div class="ui segments">
  <div class="ui segment">
    <h4 class="ui header">User Rating</h4>
  </div>
  <div class="ui segments">
    <div class="ui inverted segment">
      <%= @skatepark.average_rating %>
    </div>
  </div>

  <% @skatepark.attributes.each do |attribute, value| %>
    <div class="ui segment">
      <h4 class="ui header"><%= attribute.titleize %></h4>
    </div>
    <div class="ui segments">
      <div class="ui inverted segment">
        <%= value %>
      </div>
    </div>
  <% end %>
</div>
