<div class="ui segments">
  <% if @skatepark.ratings? %>
    <div class="ui segment">
      <h4 class="ui header">User Rating</h4>
    </div>
    <div class="ui segments">
      <div class="ui inverted segment">
        <%= @skatepark.average_rating %>
      </div>
    </div>
  <% end %>

  <% @skatepark.visibile_attributes.each do |attribute, value| %>
    <% if value %>
      <div class="ui segment">
        <h4 class="ui header"><%= attribute %></h4>
      </div>
      <div class="ui segments">
        <div class="ui inverted segment">
          <%= value %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
