<% if @skatepark.coordinates? %>
  <!-- Directions -->
  <div class='center-text two-top'>
    <form action="https://maps.google.com/maps" method="get" target="_blank">
      <div class="ui action input one-top three-bottom">
        <div id="locationField">
          <input id="autocomplete" name="saddr" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
        </div>
      </div>
      <div class="two-top">
        <button class="ui button">Get Directions</button>
        <input type="hidden" name="daddr" value="<%= @skatepark.address %>" />
      </div>
    </form>
  </div>

  <!-- Map -->
  <div class="one-top">
    <div id='map-container relative'>
      <div id='map' class='skatepark-map' ></div>
    </div>
  </div>
  <div class="center-text one-top">
    <div id="toggle-nearby-container" class="hidden">
      <button id="toggle-nearby" class="ui button primary">Show Nearby Parks</button>
    </div>
  </div>

<% else %>
  <div id="map-missing">
    <h3>Map coming soon!!</h3>
  </div>

<% end %>
