<div class="one-top">
  <div id='map-container relative'>
    <div id='map' class='skatepark-map' ></div>
  </div>
</div>
<div class="center-text one-top">
  <div id="toggle-nearby-container" class="hidden">
    <button id="toggle-nearby" class="ui button primary">Show Nearby Parks</button>
  </div>
</div>
