<div class="ui medium images center-text">
  <% skatepark.pictures.each do |url| %>
    <img class="ui image skatepark-image" src="<%= url %>" />
  <% end %>
</div>
<div class="center-text one-top">
  <% if skatepark.photo_cred %>
    <p>Photos courtesy of <a href="<%= skatepark.photo_url %>"><%= skatepark.photo_cred %></a> </p>
  <% end %>
</div>
