<div class="rate-button-container one-bottom">
  <%= button_to 'Rate Skatepark', rate_path(current_user.id, @skatepark.id), class: 'ui primary button rate-button'%>
  <div class="rate-form-container hidden one-top">
    <div class="ui form">
      <%= form_for @user_skatepark, url: rate_path(current_user.id, params[:id]), method: :put do |f| %>
        <div class="field">
          <%= f.text_field :rating, placeholder: 'enter rating' %>
        </div>
        <%= f.submit value: 'Rate', class: 'ui button' %>
      <% end %>
    </div>
  </div>
</div>



