<%= button_to add_visit_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui button add-visit-button' do %>
  <i class="green checkmark icon inline-block"></i> <p class="inline-block">Been Here</p>
<% end %>
