<% if @skatepark.reviews? %>
  <h4>Reviews</h4>
  <div class="ui comments">
    <% @skatepark.reviews.each do |review| %>
      <div class="comment">
        <div class="content">
          <a class="author"><%= review.user.display_name %></a>
          <div class="metadata">
            <div class="date">
              <%= review.created_at.strftime("%m/%d/%y") %>
            </div>
          </div>
          <div class="text">
            <%= review.review %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>



