<div class="review-button-container">
  <%= button_to 'Review Skatepark', review_path(current_user.id, @skatepark.id), class: "ui primary button review-button" %>
  <div class="review-form-container hidden one-top">
    <div class="ui form">
      <%= form_for @user_skatepark, url: review_path(current_user.id, params[:id]), method: :put do |f| %>
        <div class="field">
        <%= f.text_area :review, placeholder: 'Write review here...' %>
        </div>
        <%= f.submit value: 'Review', class: "ui button" %>
      <% end %>
    </div>
  </div>
</div>



