<div class='search-results-container page-container'>
  <div class="inline-block text-center">
    <h1>Search Results</h1>
  </div>
  <div class="ui button close-search float-right inline-block">CLOSE
  </div>
  <div class="ui divided selection list">

    <% if !@skateparks.blank? %>
      <% @skateparks.each do |park| %>
        <%if !park.name.blank?%>
          <div class="<%= park.id %> item">
            <%= link_to "#{park.city.titleize}:  #{park.name.titleize} (#{park.state.capitalize})", park%>
          </div>
        <% else %>
          <div class="<%= park.id %> item">
            <%= link_to "#{park.city.titleize} (#{park.state.capitalize})", park %>
          </div>
        <% end %>
      <% end %>

      <% else %>
        <p>No results</p>
      <% end %>
  </div>
  <div class='ui divider'></div>

</div>
