<div class='search-results-container page-container'>
  <div class="inline-block text-center">
    <h1>Search Results</h1>
  </div>
  <div class="ui button close-search float-right inline-block">CLOSE
  </div>
  <div class="ui divided selection list">

    <% if skateparks.any? %>
      <div class="ui header search-header">
        Skatepark
      </div>
      <div class="ui header search-header">
        City
      </div>
      <div class="ui header search-header">
        State
      </div>
      <% skateparks.each do |park| %>
        <div class="item">
          <a href="/skateparks/<%= park.id %>">
            <div class="search-col-one">
              <%= park.name.titleize %>
            </div>
            <div class="search-col-two">
              <%= park.city.titleize %>
            </div>
            <div class="search-col-three">
              <%= park.state.capitalize %>
            </div>
          </a>
        </div>
      <% end %>

      <% else %>
        <h2 class='red'>No results</h2>
      <% end %>
  </div>
  <div class='ui divider'></div>
</div>
