<div class="ui divided selection list">
  <% skateparks.each do |park| %>
    <%if park.name%>
      <div class="item">
        <%= link_to "#{park.city.titleize}:  #{park.name.titleize}", park %>
      </div>
    <% else %>
      <div class='<%= park.id %> item'>
        <%= link_to park.city.titleize, park %>
       </div>
    <% end %>

  <% end %>
</div>
