<div class="container">
  <div class="create-container">

  </div>
  <div class="parks-container">
    <ul class="collection">
      <% @skateparks.each do |park| %>
        <%unless park.name.blank?%>
          <li id="#{park.id}" class="collection-item">
            <%= link_to "#{park.city}: #{park.name}", park%>
            <% if current_user && current_user.admin %>
              <%= button_to 'Delete', skatepark_path(park), method: :delete, class: "park-delete waves-effect waves-teal btn-flat" %>
            <% end %>
          </li>
        <% else %>
          <li id="#{park.id}" class="collection-item">
            <%= link_to park.city, park %>
            <% if current_user && current_user.admin %>
              <%= button_to 'Delete', skatepark_path(park), method: :delete, class: "park-delete waves-effect waves-teal btn-flat" %>
            <% end %>
           </li>
        <% end %>
      <% end %>
    </ul>

  </div>

</div>
