//info to switch button

var response = {form_class: "remove-visit", button_class: "remove-visit-button", action: "/users/<%= current_user.id %>/skateparks/<%= params[:id] %>/remove_visit", text: "Never Been Here", rate_button: "<button class='rate-button'>Rate Skatepark</button>", rate_form: "<%= escape_javascript (render partial: 'rate_form.html.erb',layout: false )%>", review_button: "<button class='review-button'>Review Skatepark</button>", review_form: "<%= escape_javascript (render partial: 'review_form.html.erb',layout: false )%>",
}

//switch 'add visit' to 'remove visit'

$('.add-visit-button').attr({
        value: response.text,
        class: response.button_class
      });

$('.visit-container').children().first().attr({
        action: response.action,
      });

//remove initial rate containers

$('.initial-rate-container').remove();
$('.initial-review-container').remove();

//if no rate-button, append rate-button

if ($('button').hasClass('rate-button') === false) {
  $('.rate-container').append(response.rate_button);
  $('.review-container').append(response.review_button);
} else {
  $('.rate-button').removeClass('hidden');
  $('.review-button').removeClass('hidden');
}

//append rate form

$(".rate-form-container").append(response.rate_form);

$(".review-form-container").append(response.review_form);



