<div class='image-rotator'></div>
<div class="skateparks-index-container">
  <div class="ui centered grid">
    <div class="thirteen wide column">
      <div class='ui three item inverted menu state-menu'>
        <%= link_to 'California', state_path(state: "california"), class: "park-state item" %>
        <%= link_to 'Oregon', state_path(state: "oregon"), class: "park-state item" %>
        <%= link_to 'Washington', state_path(state: "washington"), class: "park-state ui item" %>
      </div>

      <div class="parks-container"></div>
    </div>
  </div>
</div>


