<div class="container">
  <h1>Skateparks</h1>
      <a class="park-state" href="/states/CA/skateparks">California</a>
      <a class="park-state" href="/states/OR/skateparks">Oregon</a>
      <a class="park-state" href="states/WA/skateparks">Washington</a>
</div>
