<div class="container">
  <div class="ui relaxed divided list">
    <% @skateparks.each do |park| %>
      <%unless park.name.blank?%>
        <div class="item">
          <%= link_to "#{park.city.titleize}:  #{park.name.titleize}", park%>
        </div>
      <% else %>
        <div class="item">
          <%= link_to park.city.titleize, park %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>