<div class="ui grid">
  <div class="sixteen wide column page-container">
  <div class="ui relaxed divided selection list search-container">
    <img src="http://s3.amazonaws.com/west-coast-skateparks/skateparks/IMG_4007.JPG" alt="">
    <% @skateparks.each do |park| %>
      <%unless park.name.blank?%>
        <div class="item">
          <%= link_to "#{park.city.titleize}:  #{park.name.titleize}", park%>
        </div>
      <% else %>
        <div class="item">
          <%= link_to park.city.titleize, park %>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
</div>