<div class="container">
  <div class="create-container">

  </div>
  <div class="parks-container">
    <ul>
      <% @skateparks.each do |park| %>
        <%unless park.name.blank?%>
          <li> <%= link_to "#{park.city}: #{park.name}", park%>  </li>
        <% else %>
          <li> <%= link_to park.city, park %>  </li>
        <% end %>
        <% if current_user && current_user.admin %>
          <%= button_to 'Delete', skatepark_path(park), method: :delete %>
        <% end %>
      <% end %>
    </ul>

  </div>

</div>
