meta name="twitter:card" content="summary_large_image"
/meta name="twitter:site" content="@dont_have_one"
meta name="twitter:title" content="West Coast Skateparks"
meta name="twitter:image" content=image_url("open_graph/temporary_main_image.png")
meta name="twitter:description" content="Your guide to the skateparks of the Western U.S."

meta property="og:title" content="West Coast Skateparks"
meta property="og:url" content=request.original_url
meta property="og:image" content=image_url("open_graph/temporary_main_image.png")
meta property="og:description" content="Your guide to the skateparks of the Western U.S."
meta property="fb:app_id" content="1520128344956383"
