<div class="ui stackable grid">
  <div class="row landing-header-container">
    <div class="eleven wide column">
      <div class="title-words">West Coast Skateparks</div>
    </div>
    <div class="five wide column" >
      <div class='ui search'>
        <%= form_tag(search_path, method: :get, class: 'search-form') do%>
        <div class="ui icon input">
          <%= text_field_tag :search, nil, placeholder: 'Search skateparks', required: true, id: 'search-input'  %>
          <i class="circular search link icon search-button"></i>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="search-container"></div>
