<div class='ui five item inverted borderless menu'>
  <%= link_to 'Home', root_path, class: 'item' %>
  <%= link_to 'About', about_path, class: 'item' %>
  <%= link_to 'Skateparks', skateparks_path, class: 'item' %>
  <%= link_to 'Sign In', '#', class: 'item session-button' %>
  <a class="item search-button">
    <i class="search icon"></i>
  </a>
</div>