<div class="one-top center-text">
  <h1>Search Results</h1>
</div>
<div class='page-container two-bottom'>
  <% if skateparks.any? %>
    <div id="search-results-skatepark-header" class="ui header search-header">
      <div>Skatepark</div>
    </div>
    <div class="ui header search-header">
      <div>City</div>
    </div>
    <div class="ui header search-header">
      <div>State</div>
    </div>
    <div class='search-results-container' >
      <div class="ui divided selection list">
        <% skateparks.each do |park| %>
          <div class="item">
            <a href="/skateparks/<%= park.id %>">
              <div class="search-col-one search-column">
                <%= park.name.titleize %>
              </div>
              <div class="search-col-two search-column">
                <%= park.city.titleize %>
              </div>
              <div class="search-col-three search-column">
                <%= park.state.capitalize %>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <h2 class='red'>No results</h2>
  <% end %>
</div>